.Pago__container {
    background-color: #bd998e;
    color: white;
    text-align: center;
}
.Pago__container--header {
    text-align: center;
    background-color: #f1e0db;
    padding: 30px;
    margin: 0;
    color: black;
    font-family: 'Cormorant Infant', serif;
    font-weight: 300;
    font-size: 40px;
}

.Pago__container--text {
    text-align:center;
    font-size: 36px;
    margin-right: 600px;
    margin-left: 600px;
    font-family: 'Questrial', sans-serif;
    line-height: 1.5;
}

.Pago__container--button {
    width: 200px;
    background-color: white;
    color: black;
    cursor: pointer;
    align-items: center;
    font-family: 'Junge', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    transition: box-shadow 0.3s ease;
    margin: 10px;
}
.Pago__container--button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}